<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentalDesign.Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DentalDesign.Dashboard.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        @await Component.InvokeAsync("Navbar")
    </header>
    <div class="d-flex">
        @await Component.InvokeAsync("Sidebar")

        <div class="flex-grow-1 p-3">

            <div id="mainContentAlertContainer" style="display:none; margin-bottom:1rem;"></div>

            <div id="mainContent">
                @RenderBody()
            </div>

        </div>
    </div>

    
    @await Html.PartialAsync("_DeleteConfirmModal")
    @await Html.PartialAsync("_AssignToDesignerModal");

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - DentalDesign.Dashboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
  
    <!-- Three.js core -->
    <script src="https://cdn.jsdelivr.net/npm/three@0.124.0/build/three.min.js"></script>

    <!-- STLLoader -->
    <script src="https://cdn.jsdelivr.net/npm/stl-loader@1/STLLoader.min.js"></script>

    <!-- OrbitControls -->
    <script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r124/examples/js/controls/OrbitControls.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <!-- Order ! -->
    <script src="~/js/core/spa-loader.js"></script>
    <script src="~/js/core/event-binder.js"></script>
    <script src="~/js/feature/search.js"></script>
    <script src="~/js/feature/shared/alert.js"></script>
    <script src="~/js/feature/supervisor/supervisor-create.js"></script>
    <script src="~/js/feature/designer/designer-create.js"></script>
    <script src="~/js/feature/case/case-status.js"></script>
    <script src="~/js/feature/case/case-details.js"></script>
    <script src="~/js/feature/case/assign-case.js"></script>
    <script src="~/js/feature/delete-modal.js"></script> <!-- Glogal -->

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            
            if (window.SpaLoader) window.SpaLoader.init();
            if (window.EventBinder) window.EventBinder.bindAll();
        });
    </script>

</body>
</html>
